@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,300&subset=latin,latin-ext);

header a.branding {
  color: #E02130;
  font-weight: 300;
  font-size: 1.25em;
  letter-spacing: -0.5pt;
}
code.prettyprint {
  line-height: 1.225em;
}

pre > code {
  margin: 0;
  padding: 15px !important;
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 13px !important;
}

pre {
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 7px;
  margin-top: 16px;
}

blockquote {
  margin-top: 20px;
}
